<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xx计税系统登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../static/css/grid.css">
</head>
<body>
<!--<div style="margin:0 auto;width: 35%;height: 40%;background-color: #eaeaea;border-radius: 5px">-->
<!--    <form>-->
<!--        <h2 style="margin-top: 10%;font-family: 宋体;text-align: center;padding: 10px">计税登录</h2>-->
<!--        用户名:<input type="text">-->
<!--        密码:<input type="password">-->
<!--        <button>提交</button>-->
<!--    </form>-->
<!--</div>-->
</body>
</html>